  .menu {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    .logo {
      width: 100%;
      height: 50px;
      border-radius: 8px;
      text-align: center;
      line-height: 50px;
      background-color: var(--them-bg-color);
      color: var(--text-white-color);
    }
    .menu_item {
      flex: 1;
    }
  }